@import '../utils/breakpoints';

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  width: 100%;

@include for-mobile-up {
  width: 480px;
}

  @include for-tablet-up {
    width: 768px;
  }

  @include for-desktop-up {
    width: 1200px;
  }
  }
