@import '../utils/breakpoints';

.footer {

    padding-top: 60px;
    padding-bottom: 60px;
    line-height: 1.71;
    background-color: #2f303a;

  }
  
  .footer-container {
      // display: flex;
      // flex-wrap: wrap;
      // gap: 60px;
      // justify-content: center;
      // align-items: center;

    @include for-mobile-up {
      gap: 30px;   
    }

    @include for-desktop-up {
      display: flex;
      align-items: baseline;
    }
   
  }

  .footer__thumb {
    text-align: center;
    margin-bottom: 60px;

    @include for-desktop-up {
      text-align: left;
      margin-bottom: 0;
    }
  }
  
  .footer__logo {
    margin-bottom: 20px;
   
    @include for-desktop-up {
      display: block;
    }
  }
  
  .footer__address {
    font-style: normal;
    color: var(--color-white);
  }
  
  .footer-contacts__item {
    margin-top: 9px;
  }
  
  .footer-contacts__link {
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  
    transition: color 250ms var(--cubic);

    &:hover,
    &:focus {
      color: var(--color-accent);
    }
  }

  .footer__socials {
    margin-bottom: 60px;


    @include for-desktop-up {
      margin-bottom: 0;
    }
  }
  
 .footer__call {
  text-align: center;

  @include for-desktop-up {
    text-align: left;
  }
 }

 .subscr-form {
  text-align: center;
 }