.header {
  position: relative;
    border-bottom: 1px solid #ececec;


    &__desktop-menu {
      display: none;

      @media screen and (min-width: 768px) {
              display: block;  
      } 
    }
  
  }


