.backdrop {
    position: fixed;
    left: 0;
    top: 0;
  
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  
    visibility: visible;
    opacity: 1;
  
    transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
  }
  
  
  
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
  
    width: 528px;
  
    padding: 40px;
    
    background-color: var(--basic-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--cubic);
  }
  