@import '../utils/breakpoints';

.team-section {
    background-color: var(--color-background-secondary);
  }
  
  .team-list {

    @include for-tablet-up {
      display: flex;
      flex-wrap: wrap;
      mask-origin: -5px;
    }

    @include for-desktop-up {
       display: flex;
       gap: 30px;
    }
    
  }
  
