@import '../utils/breakpoints';

.team-section {
    background-color: var(--color-background-secondary);
  }
  
  .team-list {

    @include for-tablet-up {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @include for-desktop-up {
       display: flex;
       flex-wrap: nowrap;
       justify-content: center;
       gap: 30px;
    }
    
  }
  
