@import '../utils/breakpoints';

.hero-button {
    min-width: 200px;
    padding: 10px 24px;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
   
  
  @extend %button;
  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic);

    &:hover,
    &:focus {
      background-color: #188ce8;
      cursor: pointer;
    }

    @include for-desktop-up  {
      padding: 10px 32px;
    }
  }
  
.btn-close {
    position: absolute;
    right: 8px;
    top: 8px;
  
    @extend %flex-centered;

    padding: 0;
  
    width: 30px;
    height: 30px;
    background-color: var(--color-white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  
    transition: color 250ms var(--cubic);
   
    &:hover {
      cursor: pointer;
      color: var(--color-accent);
      cursor: pointer;
    }
    }
  
  .btn-close__icon {
    fill: currentColor;
  }

  .btn-send {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  
    padding: 10px 55px 10px 56px;
  
    @extend %button;
  
    transition: background-color 250ms var(--cubic);

    &:hover,
    &:focus {
    background-color: #188CE8;
    cursor: pointer;
  }
  }
  
.btn-subscr {

    padding: 10px 25px 10px 27px;
  
    @extend %button;

    @include for-desktop-up {
      margin-left: 12px;
    }
  }
  
  .btn-subscr__icon {
    margin-left: 10px;
    vertical-align: middle;
  }
  
  .btn-open {
    margin-left: auto;
    background-color: transparent;
    padding: 0;
    border: none;

    @include for-tablet-up {
    display: none;
    }
  
  }
    
  .btn-mobile {
    position: absolute;
    right: 15px;
    top: 10px;
  
    @extend %flex-centered;

    padding: 0;
  
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;

    transition: color 250ms var(--cubic);
   
    &:hover,
    &:focus { 
      color: var(--color-accent);
    }
    }