.checkbox {  
    // @extend %flex-centered;

    margin-bottom: 30px;
    font-size: 12px;
    line-height: 1.17;
  
    @include for-desktop-up {
      font-size: 14px;
      line-height: 1.71;
    }
    
  }
  
  .checkbox__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    position: absolute;
  
  }
  
  .checkbox__icon {
    vertical-align: baseline;
    border: 2px solid var(--color-primary);
    border-radius: 2px;
  }

  .checkbox__input:checked + .checkbox__icon {
  background: var(--color-accent);
  border: none;
   }

  .checkbox__label {
    margin-left: 7px;
  }
  
  .checkbox__link {
    color: var(--color-accent);
    }