
.footer__form {
    margin-left: auto;
  }
  
  .subscr-form__input {
  
    padding: 14px 14px;
  
    width: 358px;
  
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }