@import '../utils/breakpoints';
$hero-image-gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

.hero {
    padding: 118px 0;
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2f303a;
    background-image: $hero-image-gradient,
    url(../images/hero.jpg);

    @include for-tablet-up {
      background-image: $hero-image-gradient,
      url(../images/hero.jpg);

      @include for-pixel-device-ratio-2 {
        background-image: $hero-image-gradient,
        url(../images/hero@2x.jpg);
      }

      @include for-pixel-device-ratio-3 {
        background-image: $hero-image-gradient,
        url(../images/hero@3x.jpg);
      }
    }

    @include for-desktop-up {
      max-width: 1600px;
      padding: 200px 0;
      background-image: $hero-image-gradient,
      url(../images/hero.jpg);
      
    }   

    @include for-pixel-device-ratio-2 {
      background-image: $hero-image-gradient,
      url(../images/hero@2x.jpg);
    }

    @include for-pixel-device-ratio-3 {
      background-image: $hero-image-gradient,
      url(../images/hero@3x.jpg);
    }
    }

  .container.hero-container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    }
