.header__mobile-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: var(--color-background-primary);

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile-menu__link {
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--color-primary);

  text-decoration: none;
}

.mobile-menu__link--current {
    color: var(--color-accent);
  } 

.mobile-menu__contacts {
  margin-top: auto;
}

.mobile-menu__tel {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: var(--color-accent);
}

.mobile-menu__mail {
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

}

.mobile-menu__socials {
  @extend %flex-centered;
  gap: 20px;
  margin-top: auto;

}

.mobile-menu__social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}