.main-nav {
  display: flex;
  align-items: center;  

  @media screen and (max-width: 767px) {
    padding: 10px 10px 10px 15px;
  }
  }
  
  .menu {

    @media screen and (min-width: 768px) {
      margin-left: 87px;
      }

    @media screen and (min-width: 1200px) {
      margin-left: 93px;
      }
    
  }
  
  .site-nav {
    display: flex;
    gap: 50px;
  
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-primary);


  }
  
  .site-nav__item {
    position: relative;
  }
  
  .site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 31px;
  
    @extend %link;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic);
  }
  
  .site-nav__link:hover,
  .site-nav__link:focus {
    color: var(--color-accent);
  }
  
  .site-nav__link--current {
    color: var(--color-accent);
  }
  
  .site-nav__item--current::after {
    content: '';
  
    position: absolute;
    left: 0;
    bottom: 0;
  
    display: inline-block;
    width: 100%;
    height: 4px;
  
    background-color: #2196f3;
    border-radius: 2px;
  }