 
  .socials {
    @extend %flex-centered;
    gap: 10px;
  }
  
  .social__link {
    @extend %flex-centered;
    padding: 12px;
    color: #afb1b8;
    border-radius: 50%;
  
    transition: background-color 250ms var(--cubic), color 250ms var(--cubic);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--basic-white);
    }
  }
  
  .social__icon {
    fill: currentColor;
  }