@import '../utils/breakpoints';

.section__title {
  margin-bottom: 30px;

    font-size: 28px;
    line-height: 1.18;
    
    color: var(--color-primary);
    text-align: center;

      @include for-desktop-up {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
        }
      
  }

  .hero__title {
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    color: var(--color-white);
    text-align: center;
    text-transform: uppercase;

    @include for-desktop-up {
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
  
    }
  }