.works-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 30px; */
  }
  
  .works-list__item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    cursor: pointer;
  
    transition: box-shadow 250ms var(--cubic);

    &:nth-child(3n) {
      margin-right: 0;
    }
    
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
    
    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  
  .work__meta {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }
  
  .work__image {
    display: block;
  }
  
  .work__title {
    margin-bottom: 4px;
  
    font-size: 18px;
    line-height: 2;
    color: var(--primary-text-color);
    letter-spacing: 0.06em;
  }
  
  .work__type {
    font-size: 16px;
    line-height: 1.88;
  }
  
  .work__thumb {
    position: relative;
  
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
    
      width: 100%;
      height: 100%;
    
      background-color: rgba(33, 150, 243, 0.9);
    
      transform: translateY(101%);
      transition: transform 250ms var(--cubic);
    }
    
    .works-list__item:hover &::before,
    .works-list__item:focus &::before {
      transform: translateY(0);
    }
  }
  
  .work__descr {
    position: absolute;
    left: 50%;
    top: 50%;
  
    width: 322px;
  
    transform: translate(-50%, -50%);
  
    font-size: 18px;
    line-height: 1.56;
    color: var(--basic-white);
  
    opacity: 0;
    transition: opacity 250ms var(--cubic);

    .works-list__item:hover &,
    .works-list__item:focus & {
      opacity: 1;
    }
  }
  
 