*,
*::before,
*::after {
  box-sizing: inherit;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  display: inline-block;
}

p {
  margin: 0;
}

fieldset {
 margin: 0;
 padding: 0;
 border: 0;
}

legend {
  padding: 0;
}