:root {
    //  --color-primary: ;
    //  --color-accent: ;
    //  --color-warning: ;

    //  --color-background-primary: ;
    //  --color-background-secondary: ;

    //  --font-family-primary: ;
    //  --font-family-title: ;

    //  --input-color-text: ;
    //  --input-color-background: ;
    //  --input-color-placeholder: ;


    --primary-text-color: #212121;
    --main-background-color: #ffffff;
    --accent-color: #2196f3;
    --basic-white: #ffffff;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  }