:root {
     --color-primary: #212121;
     --color-accent: #2196f3;
     --color-white: #ffffff;
    //  --color-warning: ;

     --color-background-primary: #ffffff;
     --color-background-secondary: #f5f4fa;

    //  --font-family-primary: ;
    //  --font-family-title: ;

    //  --input-color-text: ;
    //  --input-color-background: ;
    //  --input-color-placeholder: ;

    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  }